body {
   display: flex;
   justify-content: center;
   align-items: center;
}


.image__html {
   position: absolute;
   display: none;
   width: 30.5rem;
   height: auto;
   top: 2rem;
   z-index: 1;
   opacity: 0.5;
}

.html {
   position: relative;
   width: 22rem;
   height: 24.5rem;
   clip-path: polygon(0% 0%, 100% 0%, 90% 90%, 50% 100%, 10% 90%);
   /* outline: 3rem solid #48b; */
   /* border: 2rem solid #ef4a2b; */
   background-color: #ef4a2b;
   /* background: linear-gradient(to right, #ef4a2b 0%, #ef4a2b 50%, #fc6331 50%, #fc6331 100%); */
}

.html::before {
   content: "";
   position: absolute;
   top: 0;
   right: 2rem;
   width: 40%;
   height: 85%;
   bottom: 0;
   margin: auto;
   /* width: 22rem; */
   /* height: 24.5rem; */
   background-color: #fc6331;
   clip-path: polygon(0% 0%, 100% 0%, 84% 91%, 0% 100%);
}

.html__text {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   width: 60%;
   height: 62%;
   background-color: #fff;
   clip-path: polygon(0% 0%, 100% 0%, 98% 18%, 0% 18%, 21% 18%, 23% 37%, 98% 37%, 92% 91%, 50% 100%, 9% 92%, 6% 63%, 26% 64%, 27% 77%, 50% 83%, 73% 77%, 76% 55%, 4% 54%);
   background: linear-gradient(to right, #ececec 0%, #ececec 50%, #fff 50%, #fff 100%);

}